
NewSculptUI/__pycache__/pt_ui_panel.cpython-37.pyc
NewSculptUI/__pycache__/pt_ot_panel.cpython-37.pyc
NewSculptUI/__pycache__/ht_ot_header.cpython-37.pyc
NewSculptUI/__pycache__/ht_op_toolHeader.cpython-37.pyc
NewSculptUI/__pycache__/auto_load.cpython-37.pyc
NewSculptUI/__pycache__/__init__.cpython-37.pyc
NewSculptUI/.vscode/settings.json
NewSculptUI/.vscode/launch.json
NewSculptUI/__pycache__/ht_ui_toolHeader.cpython-37.pyc
NewSculptUI/__pycache__/brush_quickset.cpython-37.pyc
